.popup {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -200vh;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.popup.display {
  background-color: rgba(0, 0, 0, 0.5);
}
.popup.forward {
  top: 0;
}
.popup * {
  font-family: 'Montserrat', sans-serif;
}
html,
body,
.wrapper {
  width: 100vw;
}
html,
body,
.wrapper,
html .sidebar,
body .sidebar,
.wrapper .sidebar,
html .grid-container,
body .grid-container,
.wrapper .grid-container {
  height: 100%;
}
.wrapper {
  display: flex;
  background-color: #1f2124;
  position: relative;
}
.wrapper * {
  font-family: 'Montserrat', sans-serif;
}
.wrapper .toggle-sidebar-container {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 9;
}
.wrapper .toggle-sidebar-container.computer {
  display: none;
}
.wrapper .toggle-sidebar-container #toggle-sidebar {
  width: 2.4em;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.wrapper .toggle-sidebar-container #toggle-sidebar span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out, background 0.25s;
  -moz-transition: 0.25s ease-in-out, background 0.25s;
  -o-transition: 0.25s ease-in-out, background 0.25s;
  transition: 0.25s ease-in-out, background 0.25s;
}
.wrapper .toggle-sidebar-container #toggle-sidebar span:nth-child(1) {
  top: 0px;
}
.wrapper .toggle-sidebar-container #toggle-sidebar span:nth-child(2),
.wrapper .toggle-sidebar-container #toggle-sidebar span:nth-child(3) {
  top: 14px;
}
.wrapper .toggle-sidebar-container #toggle-sidebar span:nth-child(4) {
  top: 28px;
}
.wrapper .toggle-sidebar-container #toggle-sidebar.open span {
  background: white;
}
.wrapper .toggle-sidebar-container #toggle-sidebar.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.wrapper .toggle-sidebar-container #toggle-sidebar.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.wrapper .toggle-sidebar-container #toggle-sidebar.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.wrapper .toggle-sidebar-container #toggle-sidebar.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.wrapper .sidebar {
  background-color: #333030;
  width: 20%;
  border-right: 2px solid #f17f42;
}
.wrapper .sidebar.mobile-browser {
  width: 100%;
  border: none;
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  z-index: 8;
  -webkit-transition: top 0.2s;
  -moz-transition: top 0.2s;
  -ms-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s;
}
.wrapper .sidebar.mobile-browser.display {
  top: 0;
}
.wrapper .sidebar.mobile-browser.landscape .sidebar-content {
  padding: 0;
}
.wrapper .sidebar.mobile-browser.landscape .sidebar-content .menu p {
  display: none;
}
.wrapper .sidebar.mobile-browser.landscape .sidebar-content .menu:not(:first-child) {
  flex-flow: row;
}
.wrapper .sidebar.mobile-browser .sidebar-content .menu:first-child a:hover,
.wrapper .sidebar.mobile-browser .sidebar-content .menu:first-child a:active {
  background-color: #f4f5f9;
  color: #333030;
}
.wrapper .sidebar .sidebar-content {
  padding: 0 2em;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.wrapper .sidebar .sidebar-content .menu {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.wrapper .sidebar .sidebar-content .menu:not(:first-child),
.wrapper .sidebar .sidebar-content .menu:not(:first-child) a {
  width: 90%;
}
.wrapper .sidebar .sidebar-content .menu p,
.wrapper .sidebar .sidebar-content .menu h1 {
  text-align: center;
  color: #f4f5f9;
}
.wrapper .sidebar .sidebar-content .menu a {
  text-align: center;
  padding: .7rem 1rem;
  margin: .5em;
  background-color: #f4f5f9;
  color: #333030;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  -webkit-transition: color 0.1s, background-color 0.1s;
  -moz-transition: color 0.1s, background-color 0.1s;
  -ms-transition: color 0.1s, background-color 0.1s;
  -o-transition: color 0.1s, background-color 0.1s;
  transition: color 0.1s, background-color 0.1s;
}
.wrapper .sidebar .sidebar-content .menu a:hover,
.wrapper .sidebar .sidebar-content .menu a.active {
  color: #f4f5f9;
  background-color: #f17f42;
}
.wrapper .sidebar .sidebar-content .mentions {
  text-align: center;
}
.wrapper .sidebar .sidebar-content .mentions,
.wrapper .sidebar .sidebar-content .mentions a {
  color: #f4f5f9;
}
.wrapper .sidebar .sidebar-content .mentions a {
  text-decoration: none;
}
.wrapper .sidebar .sidebar-content .mentions a:hover {
  color: #f17f42;
}
.wrapper .grid-container {
  display: flex;
  width: 80%;
}
.wrapper .grid-container.mobile-browser {
  width: 100%;
}
.wrapper .grid-container.mobile-browser.portrait .grid {
  width: 95%;
}
.wrapper .grid-container.portrait .grid {
  width: 75%;
}
.wrapper .grid-container .grid {
  margin: auto;
  height: 95%;
  display: table;
  border-radius: 5px;
  border: 2px solid #383a3f;
  background-color: #383a3f;
}
.wrapper .grid-container .grid .line {
  display: table-row;
}
.wrapper .grid-container .grid .line .cell {
  display: table-cell;
  border: 2px solid #383a3f;
  background-color: #1f2124;
}
.wrapper .grid-container .grid .line .cell.active {
  background-color: rgba(255, 196, 98, 0.8);
  cursor: pointer;
}
.wrapper .grid-container .grid .line .cell.win {
  background-color: rgba(117, 215, 1, 0.7);
}
.grid-container {
  position: relative;
}
.grid-container .win-container {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -200vh;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.grid-container .win-container.display {
  background-color: rgba(0, 0, 0, 0.5);
}
.grid-container .win-container.forward {
  top: 0;
}
.grid-container .win-container * {
  font-family: 'Montserrat', sans-serif;
}
.grid-container .win-container .win-screen {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: .8em;
  min-height: 50%;
  min-width: 50%;
  overflow: hidden;
  opacity: 0;
  border-radius: 5px;
  background-color: transparent;
  -webkit-transition: background-color 0.2s, min-height 0.2s, min-width 0.2s, opacity 0.2s, transform 0.2s;
  -moz-transition: background-color 0.2s, min-height 0.2s, min-width 0.2s, opacity 0.2s, transform 0.2s;
  -ms-transition: background-color 0.2s, min-height 0.2s, min-width 0.2s, opacity 0.2s, transform 0.2s;
  -o-transition: background-color 0.2s, min-height 0.2s, min-width 0.2s, opacity 0.2s, transform 0.2s;
  transition: background-color 0.2s, min-height 0.2s, min-width 0.2s, opacity 0.2s, transform 0.2s;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
.grid-container .win-container .win-screen.animate {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
  background-color: #333030;
}
.grid-container .win-container .win-screen .win-text,
.grid-container .win-container .win-screen .score {
  color: #f4f5f9;
  text-align: center;
}
.grid-container .win-container .win-screen .win-text {
  font-size: 1.6em;
}
.grid-container .win-container .win-screen .score {
  font-size: 1.5em;
}
.grid-container .win-container .win-screen .replay-container {
  text-align: center;
}
.grid-container .win-container .win-screen .replay-container .replay-button {
  display: inline-block;
  text-align: center;
  padding: .7rem 1rem;
  margin: .5em;
  background-color: #f4f5f9;
  color: #333030;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  -webkit-transition: color 0.1s, background-color 0.1s;
  -moz-transition: color 0.1s, background-color 0.1s;
  -ms-transition: color 0.1s, background-color 0.1s;
  -o-transition: color 0.1s, background-color 0.1s;
  transition: color 0.1s, background-color 0.1s;
}
.grid-container .win-container .win-screen .replay-container .replay-button:hover {
  color: #f4f5f9;
  background-color: #f17f42;
}
.grid-container .mentions-container {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -200vh;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.grid-container .mentions-container.display {
  background-color: rgba(0, 0, 0, 0.5);
}
.grid-container .mentions-container.forward {
  top: 0;
}
.grid-container .mentions-container * {
  font-family: 'Montserrat', sans-serif;
}
.grid-container .mentions-container .mentions {
  background-color: #1f2124;
  padding: .8em;
  max-height: 90%;
  max-width: 90%;
  overflow: auto;
  border-radius: 5px;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
.grid-container .mentions-container .mentions * {
  color: #f4f5f9;
}
.grid-container .mentions-container .mentions.animate {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.grid-container .mentions-container .mentions .paragraphe {
  margin-top: 2em;
}
.grid-container .mentions-container .mentions .paragraphe a:hover {
  color: #f17f42;
}
.grid-container .mentions-container .mentions .paragraphe:last-child {
  margin-top: 0;
}
