html,
body,
.wrapper {
  height: 100vh;
  width: 100vw;
}
.wrapper {
  display: flex;
  background-color: #1F2124;
  position: relative;
}
.wrapper .sidebar,
.wrapper .grid-container {
  height: 100vh;
}
.wrapper .toggle-sidebar-container {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 9;
}
.wrapper .toggle-sidebar-container.computer {
  display: none;
}
.wrapper .toggle-sidebar-container #toggle-sidebar {
  width: 2.4em;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.wrapper .toggle-sidebar-container #toggle-sidebar span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out, background 0.25s;
  -moz-transition: 0.25s ease-in-out, background 0.25s;
  -o-transition: 0.25s ease-in-out, background 0.25s;
  transition: 0.25s ease-in-out, background 0.25s;
}
.wrapper .toggle-sidebar-container #toggle-sidebar span:nth-child(1) {
  top: 0px;
}
.wrapper .toggle-sidebar-container #toggle-sidebar span:nth-child(2),
.wrapper .toggle-sidebar-container #toggle-sidebar span:nth-child(3) {
  top: 14px;
}
.wrapper .toggle-sidebar-container #toggle-sidebar span:nth-child(4) {
  top: 28px;
}
.wrapper .toggle-sidebar-container #toggle-sidebar.open span {
  background: white;
}
.wrapper .toggle-sidebar-container #toggle-sidebar.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.wrapper .toggle-sidebar-container #toggle-sidebar.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.wrapper .toggle-sidebar-container #toggle-sidebar.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.wrapper .toggle-sidebar-container #toggle-sidebar.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.wrapper .sidebar {
  background-color: #333030;
  width: 20%;
  border-right: 2px solid #F17F42;
}
.wrapper .sidebar.mobile-browser {
  width: 100%;
  border: none;
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  -webkit-transition: top 0.2s;
  -moz-transition: top 0.2s;
  -ms-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s;
}
.wrapper .sidebar.mobile-browser.display {
  top: 0;
}
.wrapper .sidebar.mobile-browser.landscape .sidebar-content {
  padding: 0;
}
.wrapper .sidebar.mobile-browser.landscape .sidebar-content .menu p {
  display: none;
}
.wrapper .sidebar.mobile-browser.landscape .sidebar-content .menu:not(:first-child) {
  flex-flow: row;
}
.wrapper .sidebar.mobile-browser .sidebar-content .menu:first-child a:hover,
.wrapper .sidebar.mobile-browser .sidebar-content .menu:first-child a:active {
  background-color: #f4f5f9;
  color: #333030;
}
.wrapper .sidebar.mobile-browser .sidebar-content .menu:last-child a:last-child {
  display: none;
}
.wrapper .sidebar .sidebar-content {
  padding: 5% 2em;
  height: 90%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.wrapper .sidebar .sidebar-content .menu {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.wrapper .sidebar .sidebar-content .menu:not(:first-child),
.wrapper .sidebar .sidebar-content .menu:not(:first-child) a {
  width: 90%;
}
.wrapper .sidebar .sidebar-content .menu * {
  font-family: 'Montserrat', sans-serif;
}
.wrapper .sidebar .sidebar-content .menu p,
.wrapper .sidebar .sidebar-content .menu h1 {
  text-align: center;
  color: #f4f5f9;
}
.wrapper .sidebar .sidebar-content .menu a {
  text-align: center;
  padding: .7rem 1rem;
  margin: .5em;
  background-color: #f4f5f9;
  color: #333030;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  -webkit-transition: color 0.1s, background-color 0.1s;
  -moz-transition: color 0.1s, background-color 0.1s;
  -ms-transition: color 0.1s, background-color 0.1s;
  -o-transition: color 0.1s, background-color 0.1s;
  transition: color 0.1s, background-color 0.1s;
}
.wrapper .sidebar .sidebar-content .menu a.disable,
.wrapper .sidebar .sidebar-content .menu a.disable:hover {
  color: #77786e;
  background-color: #C5C6B6;
}
.wrapper .sidebar .sidebar-content .menu a:hover,
.wrapper .sidebar .sidebar-content .menu a.active {
  color: white;
  background-color: #F17F42;
}
.wrapper .grid-container {
  display: flex;
  width: 80%;
}
.wrapper .grid-container.mobile-browser {
  width: 100%;
}
.wrapper .grid-container.mobile-browser.portrait .grid {
  width: 95vw;
  height: 95vw;
}
.wrapper .grid-container .grid {
  margin: auto;
  width: 95vh;
  height: 95vh;
  display: table;
  border-radius: 5px;
  border: 2px solid #383A3F;
  background-color: #383A3F;
}
.wrapper .grid-container .grid .line {
  display: table-row;
  border-bottom: 3px solid #383A3F;
}
.wrapper .grid-container .grid .line:last-child {
  border-bottom: none;
}
.wrapper .grid-container .grid .line .cell {
  display: table-cell;
  border: 2px solid #383a3f;
  border-radius: 5px;
  background-color: #1F2124;
  -webkit-transition: color 50ms;
  -moz-transition: color 50ms;
  -ms-transition: color 50ms;
  -o-transition: color 50ms;
  transition: color 50ms;
}
.wrapper .grid-container .grid .line .cell.active {
  background-color: rgba(255, 196, 98, 0.8);
  cursor: pointer;
}
.wrapper .grid-container .grid .line .cell.win {
  background-color: rgba(117, 215, 1, 0.7);
}
